= render "static_pages/index/banner"
= render "static_pages/index/how_works"
= render "static_pages/index/benefits"

#why.why-tuglocal-fluid
  .why-tuglocal-section
    .why-tuglocal-section-header.highlight-blue
      %span Why tugLocal™
    .why-tuglocal-section-text
      %span Most restaurants are slow earlier in the week. Restaurants are not slow earlier in the week because there is no one eating out on those days. Restaurants are slow at the beginning of the week because fewer people eat out on those days. tugLocalTM helps you increase your share of wallet by drawing in diners during your slow periods. You’ll cover more of your fixed costs and be more profitable at the end of the year.

= render "static_pages/index/faq"
