= render "static_pages/index/banner"
= render "static_pages/index/how_works"
= render "static_pages/index/benefits"

#why.why-tuglocal-fluid
  .why-tuglocal-section
    .why-tuglocal-section-header.highlight-blue
      %span How This Works
    .why-tuglocal-section-text{style: "text-align: center;"}
      %iframe{width:'610', height:'377', src:'https://slidebean.com/embed/gRnAKVcOZR', frameborder:'0', allowfullscreen: true, style: "margin: 0 auto;"}
    .why-tuglocal-action{style: "width: 100%; display:block; text-align: center; font-family: 'latobold', Arial, sans-serif;"}
      .why-tuglocal-action-group-financed{style: "display: inline-block; margin-top: 6.0em;"}
        %a.flat-button.button-get-financed{href: "/potential_businesses/new", style: "font-family: 'latobold', Arial, sans-serif; background-color: #25aae1; color: white; width: 24.0em; border-size: 0px; padding-top: 1.4em; padding-bottom: 1.4em; margin: 0 auto; padding-left: 1.6em; padding-right: 1.6em;"}
          %span{style: "font-size: 2.0em; text-decoration: none; line-height: 1em;"} Get Started
