= render "static_pages/index/banner"
= render "static_pages/index/how_works"
= render "static_pages/index/benefits"

#why.why-tuglocal-fluid
  .why-tuglocal-section
    .why-tuglocal-section-header.highlight-blue
      %span How This Works
    .why-tuglocal-section-text{style: "text-align: center;"}
      %iframe{width:'610', height:'377', src:'https://slidebean.com/embed/gRnAKVcOZR', frameborder:'0', allowfullscreen: true, style: "margin: 0 auto;"}

/= render "static_pages/index/faq"
