.container-gray {
    background-color: rgb(242, 242, 242);
}

.container-white {
    background-color: white;
}


.highlight-orange {
	color: #edbd18;
}

.highlight-blue {
	color: rgb(32, 172, 215);
}

.highlight-green {
	color: rgb(141, 198, 63);
}

.flat-button {
  margin-top: 0;
  margin-right: 0;
  padding: 10px 10px;
  line-height: 100%;
  color: #fff;
  display:inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
}

.flat-button:active {
  
}

.flat-button, .flat-button:hover, .flat-button:active {
  outline: 0 none;
  text-decoration: none;
  color: #fff;
}
