.banner.fluid-row
  .banner-dummy
  .banner-content
    .banner-content-information.col-xs-6.col-xs-offset-5
      .banner-content-information-header
        .banner-content-information-header-top
          %span Simple, Profitable,
        .banner-content-information-header-bottom
          %span Local Restaurant Marketing Co-Op
      .banner-content-information-subheader
        %span We will sell up to $125,000 worth of your “slow day inventory” and wire you the cash in 24 hours.
      .banner-content-information-action
        .banner-content-information-action-get-financed
          %a#banner-get-financed.flat-button.button-get-financed{href: "/potential_businesses/new"}
            %span Get Started
        /.banner-content-information-action-refinance
        /  %a#banner-refinance.flat-button.button-get-refinance{href: "/signup?is_refinance=true"}
        /    %span ReVise™ Current Deal
      .banner-content-information-bages
        .banner-content-information-badges-one
        .banner-content-information-badges-two

