.banner.fluid-row
  .banner-dummy
  .banner-content
    .banner-content-information.col-xs-6.col-xs-offset-5{style: "width: 52%;"}
      .banner-content-information-header
        .banner-content-information-header-top
          %span Simple, Profitable,
        .banner-content-information-header-bottom
          %span Restaurant Marketing
      .banner-content-information-subheader
        %span We sell your excess weekday inventory at a discount and give you 100% of the cash.
      .banner-content-information-action
        .banner-content-information-action-get-financed
          %a#banner-get-financed.flat-button.button-get-financed{href: "/potential_businesses/new"}
            %span Get Started
        /.banner-content-information-action-refinance
        /  %a#banner-refinance.flat-button.button-get-refinance{href: "/signup?is_refinance=true"}
        /    %span ReVise™ Current Deal
      .banner-content-information-bages
        .banner-content-information-badges-one
        .banner-content-information-badges-two

