#how.homepage-wrapper.fluid-row
  .jcarousel
    %ul
      %li
        .how-works
          .how-works-header
            .how-works-header-top
              %span How this Works
          .how-works-steps
            .how-works-steps-step1
              .how-works-steps-step1-image
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_166/homepage/homepage_how_revise_blue.gif")        
            .how-works-steps-step2
              .how-works-steps-step2-image
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_166/homepage/homepage_how_financed_green.jpg")        
            .how-works-steps-step3
              .how-works-steps-step3-image
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_166/homepage/homepage_how_financed_orange.jpg")      
          .how-works-information.clearfix
            .how-works-information-step1
              %span Sign up for membership to the co-op.
            .how-works-information-step2
              %span Create a slow day offer for us to place in the hands of over 200,000 locals.
            .how-works-information-step3
              %span Receive daily payouts for a more profitable year.