#testimonials.homepage-fluid-container.container-white
  .homepage-container
    .testimonials
      .testimonials-header
        %span Testimonials
      .testimonials-body.clearfix
        .testimonials-body-left
          .testimonials-body-left-video
            = image_tag("https://res.cloudinary.com/buynance/image/upload/testimonial_crmbqd.jpg")
          .testimonials-body-left-subheader
            .testimonials-body-left-subheader-name
              %span Reginald Doss
            .testimonials-body-left-subheader-title
              %span Retailer
        .testimonials-body-right
          .testimonials-body-right-text
            %span We secured a new location we had been pursuing for quite some time and needed to move fast. Buynance made it extremely easy for us to sort through options without much hassles to find the funding arrangement most suitable for us. Getting business cash in an hour these days is unheard of.  Buynance delivered.  