.offer-container
  .offer-image
    /= image_tag(@offer.image_url)
    = image_tag("demo-offer-image.png")
  .offer-body{style: "padding-top: 0.6em;"}
    .offer-body-discount
      %span 
        = "Order Complete"
    .offer-body-quantity
      %span Order 
      %span{style: "font-family: 'latobold', Arial, sans-serif;"} #3878
  .offer-description
    .offer-info-section
      .offer-info-section-title
        %span Invite Your Friends
      .offer-info-section-body
        %span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    = render "cloudsponge"
    .offer-body-checkout-submit
      .offer-body-checkout-submit-button
        %a{href: "#donepage"} Confirm
