#offerpage{data: {role: "page"}}
  = render "offerpage"
#buypage{data: {role: "page"}}
  = render "buy"
#invitepage{data: {role: "page"}}
  = render "invitepage"
#donepage{data: {role: "page"}}
  = render "donepage"





