

.web_body .container .main_body {
	margin-top: 30px;
}

.web_body .container .main_body.no-form {
	margin-top: 0px;
}

.web_body .container .main_body .alert{
	margin-bottom: 0px;
}


.container {
	padding: 0px 0px;

}
#signup-form.container {
	width: 1170px;
}

.main_body {
	background-color:#ffffff;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
	width: 100%;
	height: 100%
}

html {
  height: 100%;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}




.text-red {
  color:#da0033 !important;
}

.text-green{
  color:#04b500;
}



.main-title-wrap {

}

.main-title {
color:#b8b8b8;
text-align:center;
margin-bottom:30px;
font-weight:600
}

.phone-number {
padding-top:25px
}

.phone-number p {
font-size:.9em
}

.green-btn {
background:#a1c63e;
border-radius:3px;
border:none;
border-bottom:2px solid #85a433;
padding:20px 10px
}

.green-btn:hover {
background:#85a433;
border-bottom:2px solid #5f7524
}

.teal-btn {
background:#1aa5b2;
border-radius:3px;
border:none;
border-bottom:2px solid #11727b;
padding:20px 10px
}

.teal-btn:hover {
background:#11727b;
border-bottom:2px solid #0b4d53;
}

.form-style {
background:#fff;
text-align:center;
padding:0;
margin-bottom: 60px;
-moz-border-top-left-radius: 10px; 
-webkit-border-radius-topleft: 10px; 
border-top-left-radius: 10px; 
-moz-border-top-right-radius: 10px; 
-webkit-border-radius-topright: 10px; 
border-top-right-radius: 10px;
}

.form-style form {
padding:10px 35px 20px
}

.form-style label {
color:#526170;
line-height:1.4em;
margin-bottom: 20px;
font-family:'Source Sans Pro',sans-serif;
}



.form-style .form-control {
height: 100%;
border-radius:0;
padding:15px 10px;
background:#e2e8e9;
font-size:1em;
margin-bottom: 25px;
}

.form-header {
background:#00a4b2;
background:-moz-linear-gradient(top,#22AEDA 0%,#00a4b2 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#22AEDA),color-stop(100%,#00a4b2));
background:-webkit-linear-gradient(top,#22AEDA 0%,#00a4b2 100%);
background:-o-linear-gradient(top,#22AEDA 0%,#00a4b2 100%);
background:-ms-linear-gradient(top,#22AEDA 0%,#00a4b2 100%);
background:linear-gradient(to bottom,#22AEDA 0%,#00a4b2 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#22AEDA',endColorstr='#00a4b2',GradientType=0);
margin-top:0;
padding:10px 0;
color:#fff;
}

.flat-top{
-moz-border-top-left-radius: 0px; 
-webkit-border-radius-topleft: 0px; 
border-top-left-radius: 0px; 
-moz-border-top-right-radius: 0px; 
-webkit-border-radius-topright: 0px; 
border-top-right-radius: 0px;
}

.result-box .col-md-6 {
  padding: 10px 30px 20px;
}

.result-box h2 {
  text-align: center;
}

