.web_body
  .paper-section
    .paper-section-header
      %span Account
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      .account
        .account-header
          %span You Qualify for Refinancing
        .account-body
          %span Congratulation! You have qualified for our refinancing program. We have connected you with one of our specially selected funders and they will be in contact with you shortly.