.web_body
  .paper-section
    .paper-section-header
      %span Account
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .paper-section-bank-login.row
            .paper-section-regular
              .paper-section-regular-header
                %span Thank you for your interest.
              .paper-section-regular-body
                .paper-section-regular-body-info
                  %span Thank you for your interest in our services. We will contact you soon with further instructions.