.web_body
  .paper-section
    .paper-section-header
      %span Account
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .paper-section-bank-login.row
            .paper-section-regular
              .paper-section-regular-header
                %span We will be with you in a flash!
              .paper-section-regular-body
                .paper-section-regular-body-info
                  %span You're one step closer to being able to sell your excess "slow day" inventory for cash up front. We will be in touch to discuss the next steps.
