.web_body
  .paper-section
    .paper-section-header
      %span Thank Your
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .paper-section-bank-login.row
            .email-confirmation
              .email-confirmation-header
                %span Thank you for signing up.
              .email-confirmation-body
                .email-confirmation-body-info
                  %span Your information has been recieved and you will be contacted soon with further information.